<!DOCTYPE html>
<html lang="en-US" ng-app="mazeApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="angular/angular.min.js"></script>
  <script src="angular/angular-route.min.js"></script>
  <script src="MazeController/MazeControllers.js"></script>
  <script src="app.js"></script>
    <style>
        .open{
            background: gray;
        }
        .wall{
            background: black;
        }
        .start{
            background:green;
        }
        .end{
            background: red;
        }
        .path{
            background: yellow;
        }
    </style>
</head>
<body ng-controller="MazeCtrl">

<input data-file type="file" id="file" name="file" onchange="angular.element(this).scope().parseFile()"/>
    <br/>
  <table style="border-collapse: collapse" cellspacing=0>
      <tr ng-repeat="row in maze">
          <td width="10px" height="10px" ng-repeat="column in row track by $index" ng-class="{ 'open' : column == '.', 'wall' : column == '#', 'start' : column == 'A', 'end' : column == 'B', 'path' : column == '@' }"></td>
      </tr>
  </table>
 <br/>
 <button ng-click="solve()">Solve</button>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
</body>
</html>
